
main{
  padding-top: 10vh;

  display: grid;
  grid-template-columns: [details] auto [board] auto [config] auto;
  justify-content: center;
  align-content: center;
  column-gap: 20px;
}

#details{
  width: 500px;
}
#board{
  position: relative;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 0px;
}

#configs{
  background-color: antiquewhite;
  border: 2px solid black;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


.circle{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
  display: inline-block;
  border: 1px solid rgb(41, 41, 41);
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
}

#start_button{
  width: 100px;
  height: 35px;
  background-color: rgb(88, 184, 114);

  align-self: center;
}

#start_button:hover{
  background-color: rgb(18, 114, 43);
}
#start_button:active{
  color:aliceblue;
}

#set_config{
  width: 100px;
  height: 35px;
  background-color: rgb(88, 184, 114);

  align-self: center;
}

#set_config:hover{
  background-color: rgb(18, 114, 43);
}
#set_config:active{
  color:aliceblue;
}

li{
  margin-bottom: 30px;
}

