:root{
  --board-size-x: 700px;
  --board-size-y: 700px;
}

main{
  padding-top: 10vh;

  display: grid;
  grid-template-columns: [board] var(--board-size-x) [config] auto;
  grid-template-rows: var(--board-size-y);
  justify-content: center;
  align-content: center;
  column-gap: 10px;
}

#board{
  background-color: aqua;
  border: 2px solid black;
}

#configs{
  background-color: antiquewhite;
  border: 2px solid black;
  padding: 20px;
}

.circle{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
  display: inline-block;
  border: 1px solid rgb(41, 41, 41);
  box-sizing: border-box;
}

#c1{
  position: relative;
  top: 10px;
  left: 50px;
  width: 60px;
  height: 60px;
  background-color: blueviolet;
}
#c2{
  position: relative;
  top: 13px;
  left: 50px;
}
#c3{
  position: relative;
  top: 10px;
  left: 60px;
}